@media screen and (min-width: 1501px) {
    .apply {
        width: 100%;
        height: 6.75rem;
        background: #809ce2;
        opacity: 1;
        display: flex;
        justify-content: center;
        .content {
            width: 88rem;
            display: flex;
            justify-content: space-between;
            align-items: center;
            p {
                font-size: 2rem;
                font-family: Abhaya Libre, sans-serif;
                font-weight: bold;
                color: #ffffff;
                line-height: 3.2rem;
                letter-spacing: 2px;
            }
            button {
                border: none;
                width: 31.25rem;
                height: 3.38rem;
                background: #0c2849;
                opacity: 1;
                font-size: 1.5rem;
                font-family: Source Han Sans SC VF, sans-serif;
                font-weight: 500;
                color: #ffffff;
                line-height: 1.76rem;
                letter-spacing: 1px;
            }
        }
    }
}

@media screen and (min-width: 1301px) and (max-width: 1500px) {
    .apply {
        width: 100%;
        height: 6.75rem;
        background: #809ce2;
        opacity: 1;
        display: flex;
        justify-content: center;
        .content {
            width: 90%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            p {
                font-size: 2rem;
                font-family: Abhaya Libre, sans-serif;
                font-weight: bold;
                color: #ffffff;
                line-height: 3.2rem;
                letter-spacing: 2px;
            }
            button {
                border: none;
                width: 31.25rem;
                height: 3.38rem;
                background: #0c2849;
                opacity: 1;
                font-size: 1.5rem;
                font-family: Source Han Sans SC VF, sans-serif;
                font-weight: 500;
                color: #ffffff;
                line-height: 1.76rem;
                letter-spacing: 1px;
            }
        }
    }
}

@media screen and (max-width: 1300px) {
    .apply {
        width: 100%;
        background: #809ce2;
        opacity: 1;
        display: flex;
        justify-content: center;
        .content {
            width: 90%;
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            padding-top: 2.25rem;
            padding-bottom: 2.25rem;
            p {
                text-align: center;
                font-size: 2rem;
                font-family: Abhaya Libre, sans-serif;
                font-weight: bold;
                color: #ffffff;
                line-height: 3.2rem;
                letter-spacing: 2px;
            }
            button {
                margin-top: 1rem;
                border: none;
                width: 31.25rem;
                height: 3.38rem;
                background: #0c2849;
                opacity: 1;
                font-size: 1.5rem;
                font-family: Source Han Sans SC VF, sans-serif;
                font-weight: 500;
                color: #ffffff;
                line-height: 1.76rem;
                letter-spacing: 1px;
            }
        }
    }
}
