.teacher {
    display: flex;
    justify-content: center;
    .content {
        width: 98rem;
        .title {
            padding-left: 5.25rem;
            margin-bottom: 2.5rem;
            display: flex;
            h2 {
                font-size: 2.25rem;
                font-family: Microsoft YaHei, sans-serif;
                font-weight: bold;
                color: #051631;
                line-height: 2.64rem;
                letter-spacing: 2px;
            }
            h3 {
                margin-left: 1.25rem;
                font-size: 2rem;
                font-family: Abhaya Libre, sans-serif;
                font-weight: 400;
                color: #1a4588;
                line-height: 3.2rem;
                letter-spacing: 2px;
            }
        }
        :global {
            .swiper {
                padding: 3px;
                padding-bottom: 5rem;
            }
            .swiper-slide {
                width: 100%;
                height: auto;
            }
            .swiper-pagination-bullets .swiper-pagination-bullet,
            .swiper-pagination-horizontal.swiper-pagination-bullets
                .swiper-pagination-bullet {
                margin: 0.67rem;
            }
            .swiper-pagination-bullet {
                width: 0.88rem;
                height: 0.88rem;
                background: #ebebeb;
                border-radius: 1.19rem 1.19rem 1.19rem 1.19rem;
                opacity: 1;
            }
            .swiper-pagination-bullet-active {
                width: 8.75rem;
                height: 0.88rem;
                background: #8ea9d4;
                border-radius: 1.19rem 1.19rem 1.19rem 1.19rem;
                opacity: 1;
            }
        }
        .card {
            width: 47.53rem;
            height: 22.66rem;
            background: #ffffff;
            box-shadow: 0rem 0.13rem 0.51rem 0rem rgba(8, 4, 31, 0.21);
            display: flex;
            padding: 3.44rem 1.56rem;
            position: relative;
            .details_left {
                min-width: 15.23rem;
                max-width: 15.23rem;
                height: 100%;
                padding-top: 0.37rem;
                img {
                    width: 100%;
                    height: 100%;
                }
            }
            .details_right {
                margin-left: 2.63rem;
                width: 100%;
                .name {
                    display: flex;
                    justify-content: space-between;
                    p {
                        padding-top: 0.44rem;
                        font-size: 2rem;
                        font-family: Arial, sans-serif;
                        font-weight: bold;
                        color: #8676fe;
                        line-height: 2.34rem;
                    }
                    img {
                        width: 1.25rem;
                        height: 1.25rem;
                    }
                }
                .honor {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    position: relative;
                    .h_left {
                        .tips {
                            margin-top: 0.5rem;
                            display: flex;
                            align-items: center;
                            img {
                                width: 0.75rem;
                                height: 1.25rem;
                            }
                            img:last-child {
                                transform: scaleX(-1);
                            }
                            p {
                                margin: 0 0.38rem;
                                font-size: 0.75rem;
                                font-family: Microsoft YaHei, sans-serif;
                                font-weight: 400;
                                color: #1e2c43;
                                line-height: 0.88rem;
                            }
                        }
                    }
                    .h_right {
                        position: absolute;
                        right: 10px;
                        width: 12.96rem;
                        height: 3.57rem;
                        img {
                            width: 100%;
                            height: 100%;
                        }
                    }
                    hr {
                        margin-right: 2px;
                        width: 1px;
                        height: 5.25rem;
                        background-color: #ba8f5d;
                        border: none;
                    }
                }
                .introduce {
                    margin-top: 1rem;
                    span {
                        font-size: 0.75rem;
                        font-family: Microsoft YaHei, sans-serif;
                        font-weight: 400;
                        color: #455469;
                        line-height: 1.16rem;
                    }
                }
                .serial {
                    position: absolute;
                    bottom: 1rem;
                    right: 1rem;
                    width: 100%;
                    display: flex;
                    justify-content: flex-end;
                    img {
                        width: 2.8rem;
                        height: 2.6rem;
                    }
                }
            }
        }
    }
}
