@media screen and (min-width: 1601px) {
    .instructor {
        .pc {
            width: 100%;
            display: flex;
            justify-content: center;
            .content {
                width: 105rem;
                margin-bottom: 6.25rem;

                .title {
                    margin-left: 9.19rem;
                    margin-bottom: 2.5rem;
                    display: flex;
                    align-items: center;
                    h2 {
                        margin-right: 1.13rem;
                        font-size: 2.25rem;
                        font-family: Microsoft YaHei, sans-serif;
                        font-weight: bold;
                        color: #051631;
                        line-height: 2.64rem;
                        letter-spacing: 2px;
                    }
                    h3 {
                        font-size: 2rem;
                        font-family: Abhaya Libre, sans-serif;
                        font-weight: 400;
                        color: #1a4588;
                        line-height: 3.2rem;
                        letter-spacing: 2px;
                    }
                }

                .swiperBox {
                    position: relative;
                    padding: 0 5rem;
                    :global {
                        .swiper {
                            position: initial;
                        }
                        .swiper-slide {
                            width: 100%;
                            height: auto;
                        }
                    }
                    .card {
                        img {
                            width: 100%;
                            height: auto;
                        }
                        .card_c {
                            margin-top: -8.3rem;
                            width: 100%;
                            height: 12.06rem;
                            background: #ffffff;
                            box-shadow: 0rem 0.13rem 0.25rem 0rem
                                rgba(3, 7, 27, 0.1);
                            position: relative;
                            z-index: 1;
                            padding: 1.5rem 2.2rem 0 2.2rem;

                            .cardName {
                                display: flex;
                                align-items: center;
                                p {
                                    margin-right: 0.75rem;
                                    font-size: 1.5rem;
                                    font-family: Microsoft YaHei, sans-serif;
                                    font-weight: bold;
                                    color: #051631;
                                    line-height: 2.4rem;
                                    letter-spacing: 1px;
                                }
                                span {
                                    font-size: 0.88rem;
                                    font-family: Microsoft YaHei, sans-serif;
                                    font-weight: 400;
                                    color: #142847;
                                    line-height: 1.4rem;
                                    letter-spacing: 1px;
                                }
                            }
                            .text {
                                margin-top: 0.75rem;
                                font-size: 0.88rem;
                                font-family: Microsoft YaHei, sans-serif;
                                font-weight: 400;
                                color: #374e73;
                                line-height: 1.4rem;
                                letter-spacing: 1px;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 1201px) and (max-width: 1600px) {
    .instructor {
        .pc {
            width: 100%;
            display: flex;
            justify-content: center;
            .content {
                width: 76rem;
                margin-bottom: 6.25rem;
                .title {
                    margin-left: 9.19rem;
                    margin-bottom: 2.5rem;
                    display: flex;
                    align-items: center;
                    h2 {
                        margin-right: 1.13rem;
                        font-size: 2.25rem;
                        font-family: Microsoft YaHei, sans-serif;
                        font-weight: bold;
                        color: #051631;
                        line-height: 2.64rem;
                        letter-spacing: 2px;
                    }
                    h3 {
                        font-size: 2rem;
                        font-family: Abhaya Libre, sans-serif;
                        font-weight: 400;
                        color: #1a4588;
                        line-height: 3.2rem;
                        letter-spacing: 2px;
                    }
                }

                .swiperBox {
                    position: relative;
                    padding: 0 5rem;
                    :global {
                        .swiper {
                            position: initial;
                        }
                        .swiper-slide {
                            padding: 5px;
                            width: 100%;
                            height: auto;
                        }
                    }
                    .card {
                        img {
                            width: 100%;
                            height: auto;
                        }
                        .card_c {
                            margin-top: -8.3rem;
                            width: 100%;
                            height: 12.06rem;
                            background: #ffffff;
                            box-shadow: 0rem 0.13rem 0.25rem 0rem
                                rgba(3, 7, 27, 0.1);
                            position: relative;
                            z-index: 1;
                            padding: 1.5rem 2.2rem 0 2.2rem;

                            .cardName {
                                display: flex;
                                align-items: center;
                                p {
                                    margin-right: 0.75rem;
                                    font-size: 1.5rem;
                                    font-family: Microsoft YaHei, sans-serif;
                                    font-weight: bold;
                                    color: #051631;
                                    line-height: 2.4rem;
                                    letter-spacing: 1px;
                                }
                                span {
                                    font-size: 0.88rem;
                                    font-family: Microsoft YaHei, sans-serif;
                                    font-weight: 400;
                                    color: #142847;
                                    line-height: 1.4rem;
                                    letter-spacing: 1px;
                                }
                            }
                            .text {
                                margin-top: 0.75rem;
                                font-size: 0.88rem;
                                font-family: Microsoft YaHei, sans-serif;
                                font-weight: 400;
                                color: #374e73;
                                line-height: 1.4rem;
                                letter-spacing: 1px;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 769px) and (max-width: 1200px) {
    .instructor {
        .pc {
            width: 100%;
            display: flex;
            justify-content: center;
            .content {
                width: 56rem;
                margin-bottom: 6.25rem;
                .title {
                    margin-left: 9.19rem;
                    margin-bottom: 2.5rem;
                    display: flex;
                    align-items: center;
                    h2 {
                        margin-right: 1.13rem;
                        font-size: 2.25rem;
                        font-family: Microsoft YaHei, sans-serif;
                        font-weight: bold;
                        color: #051631;
                        line-height: 2.64rem;
                        letter-spacing: 2px;
                    }
                    h3 {
                        font-size: 2rem;
                        font-family: Abhaya Libre, sans-serif;
                        font-weight: 400;
                        color: #1a4588;
                        line-height: 3.2rem;
                        letter-spacing: 2px;
                    }
                }

                .swiperBox {
                    position: relative;
                    padding: 0 5rem;
                    :global {
                        .swiper {
                            position: initial;
                        }
                        .swiper-slide {
                            padding: 5px;
                            width: 100%;
                            height: auto;
                        }
                    }
                    .card {
                        img {
                            width: 100%;
                            height: auto;
                        }
                        .card_c {
                            margin-top: -8.3rem;
                            width: 100%;
                            height: 12.06rem;
                            background: #ffffff;
                            box-shadow: 0rem 0.13rem 0.25rem 0rem
                                rgba(3, 7, 27, 0.1);
                            position: relative;
                            z-index: 1;
                            padding: 1.5rem 2.2rem 0 2.2rem;

                            .cardName {
                                display: flex;
                                align-items: center;
                                p {
                                    margin-right: 0.75rem;
                                    font-size: 1.5rem;
                                    font-family: Microsoft YaHei, sans-serif;
                                    font-weight: bold;
                                    color: #051631;
                                    line-height: 2.4rem;
                                    letter-spacing: 1px;
                                }
                                span {
                                    font-size: 0.88rem;
                                    font-family: Microsoft YaHei, sans-serif;
                                    font-weight: 400;
                                    color: #142847;
                                    line-height: 1.4rem;
                                    letter-spacing: 1px;
                                }
                            }
                            .text {
                                margin-top: 0.75rem;
                                font-size: 0.88rem;
                                font-family: Microsoft YaHei, sans-serif;
                                font-weight: 400;
                                color: #374e73;
                                line-height: 1.4rem;
                                letter-spacing: 1px;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .instructor {
        .pc {
            width: 100%;
            display: flex;
            justify-content: center;
            .content {
                width: calc(100% - 2.66rem);
                margin-bottom: 6.25rem;
                .title {
                    width: 100%;
                    margin-bottom: 1.67rem;
                    h2 {
                        font-size: 2.67rem;
                        font-family: Microsoft YaHei, sans-serif;
                        font-weight: bold;
                        color: #051631;
                        line-height: 3.13rem;
                        letter-spacing: 2px;
                    }
                    h3 {
                        font-size: 2.33rem;
                        font-family: Abhaya Libre, sans-serif;
                        font-weight: 400;
                        color: #1a4588;
                        line-height: 3.73rem;
                        letter-spacing: 2px;
                    }
                }

                .swiperBox {
                    position: relative;
                    display: flex;
                    justify-content: center;
                    :global {
                        .swiper {
                            max-width: 32rem;
                            position: initial;
                            padding: 1px;
                            padding-bottom: 4rem;
                        }
                        .swiper-slide {
                            padding: 5px;
                            width: 100%;
                            height: auto;
                        }
                        .swiper-pagination-bullets .swiper-pagination-bullet,
                        .swiper-pagination-horizontal.swiper-pagination-bullets
                            .swiper-pagination-bullet {
                            margin: 0.67rem;
                        }
                        .swiper-pagination-bullet {
                            width: 0.83rem;
                            height: 0.83rem;
                            background: #e6e6e6;
                            border-radius: 1.58rem;
                            opacity: 1;
                        }
                        .swiper-pagination-bullet-active {
                            width: 3.33rem;
                            height: 0.83rem;
                            background: #8ea9d4;
                            border-radius: 1.58rem;
                            opacity: 1;
                        }
                    }
                    .card {
                        img {
                            width: 100%;
                            height: auto;
                        }
                        .card_c {
                            margin-top: -8.3rem;
                            width: 100%;
                            min-height: 16.08rem;
                            background: #ffffff;
                            box-shadow: 0rem 0.17rem 0.33rem 0rem
                                rgba(3, 7, 27, 0.1);
                            position: relative;
                            z-index: 1;
                            padding: 1.92rem 2.5rem 0 2.5rem;

                            .cardName {
                                display: flex;
                                align-items: center;
                                p {
                                    margin-right: 1.33rem;
                                    font-size: 2rem;
                                    font-family: Microsoft YaHei, sans-serif;
                                    font-weight: bold;
                                    color: #051631;
                                    line-height: 3.2rem;
                                    letter-spacing: 1px;
                                }
                                span {
                                    font-size: 1.17rem;
                                    font-family: Microsoft YaHei, sans-serif;
                                    font-weight: 400;
                                    color: #142847;
                                    line-height: 1.87rem;
                                    letter-spacing: 1px;
                                }
                            }
                            .text {
                                margin-top: 1.17rem;
                                font-size: 1.17rem;
                                font-family: Microsoft YaHei, sans-serif;
                                font-weight: 400;
                                color: #374e73;
                                line-height: 1.87rem;
                                letter-spacing: 1px;
                            }
                        }
                    }
                }
            }
        }
    }
}
