.footer {
    width: 100%;
    height: 44rem;
    background: #0c2849;
    border-radius: 0rem 0rem 0rem 0rem;
    opacity: 1;
    .foot_top {
        padding-top: 5.13rem;
        display: flex;
        justify-content: center;
        .top_content {
            padding-bottom: 2.69rem;
            width: 60.25rem;
            height: 11.88rem;
            display: flex;
            justify-content: space-between;
            align-items: center;
            .img {
                width: 18.75rem;
                height: 100%;
                img {
                    width: 100%;
                    height: 100%;
                }
            }
            .search {
                p {
                    width: 100%;
                    height: 3.13rem;
                    font-size: 1.5rem;
                    font-family: Abhaya Libre, sans-serif;
                    font-weight: bold;
                    color: #ffffff;
                    line-height: 2.4rem;
                    letter-spacing: 1px;
                }
                .searchBox {
                    margin-top: 1rem;
                    input {
                        width: 22rem;
                        height: 2.63rem;
                        background: #ffffff;
                        border: none;
                        opacity: 1;
                    }
                    button {
                        margin-left: 2.4rem;
                        width: 7.44rem;
                        height: 2.63rem;
                        color: white;
                        background: #08428f;
                        border: none;
                        opacity: 1;
                    }
                }
            }
        }
    }
    .foot_bottom {
        display: flex;
        justify-content: center;
        .bottom_content {
            width: 95rem;
            border-top: 0.13rem solid #4f491b;
            padding-top: 2.69rem;
            display: flex;
            .school {
                .logo {
                    width: 22rem;
                    height: 4.75rem;
                    img {
                        width: 100%;
                        height: 100%;
                    }
                }
                .mark {
                    width: 100%;
                    margin-top: 0.13rem;
                    margin-bottom: 1.94rem;
                    padding-left: 7rem;
                    font-size: 1.25rem;
                    font-family: Source Han Sans SC VF, sans-serif;
                    font-weight: 500;
                    color: #ffffff;
                    line-height: 1.46rem;
                    letter-spacing: 1px;
                }
                .qrBox {
                    width: 100%;
                    display: flex;
                    justify-content: flex-end;
                    .qrCode {
                        margin-left: 1rem;
                        img {
                            width: 8.25rem;
                            height: 8.25rem;
                        }
                        p {
                            width: 100%;
                            text-align: center;
                            margin-top: 0.81rem;
                            font-size: 1rem;
                            font-family: Microsoft YaHei, sans-serif;
                            font-weight: 400;
                            color: #ffffff;
                            line-height: 1.17rem;
                        }
                    }
                }
            }
            .contact {
                margin-left: 8.44rem;
                h2 {
                    margin-bottom: 0.88rem;
                    font-size: 1.63rem;
                    font-family: Microsoft YaHei, sans-serif;
                    font-weight: bold;
                    color: #ffffff;
                    line-height: 1.9rem;
                }
                .card + .card {
                    margin-top: 1.5rem;
                }
                .card {
                    p {
                        font-size: 1.25rem;
                        font-family: Microsoft YaHei, sans-serif;
                        font-weight: bold;
                        color: #ffffff;
                        line-height: 1.46rem;
                    }
                    .cardBody {
                        margin-top: 1rem;
                        display: flex;
                        .left {
                            color: #ffffff;
                        }
                        .right {
                            margin-left: 1rem;
                            p {
                                margin-top: 0;
                                font-size: 1rem;
                                font-family: Microsoft YaHei, sans-serif;
                                font-weight: 400;
                                color: #ffffff;
                                line-height: 1.17rem;
                            }
                            p + p {
                                margin-top: 0.5rem;
                            }
                        }
                    }
                }
            }
            .situation {
                margin-left: 6.56rem;
                h2 {
                    margin-bottom: 1.19rem;
                    font-size: 1.63rem;
                    font-family: Microsoft YaHei, sans-serif;
                    font-weight: bold;
                    color: #ffffff;
                    line-height: 1.9rem;
                }
                p {
                    font-size: 1rem;
                    font-family: Microsoft YaHei UI, sans-serif;
                    font-weight: 400;
                    color: #ffffff;
                    line-height: 1.17rem;
                }
                p + p {
                    margin-top: 1.5rem;
                }
            }
            .news {
                margin-left: 8.13rem;
                h2 {
                    margin-bottom: 0.13rem;
                    font-size: 1.63rem;
                    font-family: Microsoft YaHei, sans-serif;
                    font-weight: bold;
                    color: #ffffff;
                    line-height: 1.9rem;
                }
                .card {
                    margin-top: 1.5rem;
                    display: flex;
                    .card_left {
                        width: 6.25rem;
                        height: 4.38rem;
                        img {
                            width: 100%;
                            height: 100%;
                        }
                    }
                    .card_right {
                        margin-left: 0.75rem;
                        p {
                            margin-top: 0.63rem;
                            margin-bottom: 0.75rem;
                            font-size: 1rem;
                            font-family: Microsoft YaHei, sans-serif;
                            font-weight: 400;
                            color: #e7b82a;
                            line-height: 1.17rem;
                        }
                        span {
                            font-size: 0.88rem;
                            font-family: Microsoft YaHei, sans-serif;
                            font-weight: 400;
                            color: #ffffff;
                            line-height: 1.03rem;
                        }
                    }
                }
            }
        }
    }
}
