* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html,
body {
    max-width: 100vw;
    height: 100vh;
    overflow: visible;
    -moz-user-select: none; /*火狐*/
    -webkit-user-select: none; /*webkit浏览器*/
    -ms-user-select: none; /*IE10*/
    -khtml-user-select: none; /*早期浏览器*/
    user-select: none;
}

@media screen and (max-width: 600px) {
    html,
    body {
        font-size: 12px;
    }
}
/* 1rem= 0.68px*/
@media screen and (min-width: 600px) {
    html,
    body {
        font-size: 13px;
    }
}
/* 1rem= 0.84px*/
@media screen and (min-width: 900px) {
    html,
    body {
        font-size: 14px;
    }
}
/* 1rem= 1px*/
@media screen and (min-width: 1200px) {
    html,
    body {
        font-size: 15px;
    }
}
/* 1rem= 1.12px*/
@media screen and (min-width: 1800px) {
    html,
    body {
        font-size: 16px;
    }
}
